<!DOCTYPE html>
<html ng-app="app">
    <head>
         <title>Lesson_4_Angular</title>
         <script src="../lib/angular/angular.min.js"></script> 
         <script src="main.js"></script>   
    </head>
    <body> 
    <style>
        .ng-invalid{color:red}
        .ng-valid{color:green}
    </style>
    <form name="form" class="css-form" novalidate>
        <div>
            <label>
                Username:<input type="text" ng-model="info.name" name="name" username />
            </label>
        </div>
        <br>
        <div>
            <label>
                Email:<input type="email" ng-model="info.email" required name="email">
            </label>
    </form>
    <br> <br> <br>
    <div>{{info}}</div>
                  
    </body>
</html>